#fb-root
javascript:
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '313509242017897', // App ID
      channelUrl : 'http://dev.researchable.info/channel.html',
      status     : true, 
      cookie     : true, 
      xfbml      : true  
    });

  };
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));