<div id="fb-root"></div><script src="http://connect.facebook.net/en_GB/all.js#appId=313509242017897"></script><fb:like href="<%= request.url %>" send="true" width="<%= defined?(width) ? width : '260'%>" show_faces="true" font="arial"></fb:like>
