h2 How long does it take for a project to be approved?
p Projects are usually approved within 24 hours if the submitter includes a video. If not, it may take longer to compile all the materials to complete the submission. This could also take longer if the submitter does not include sufficient information about the project or about the person or team submitting it. 

h2 What types of projects are accepted?
p We are open to any research project that benefits the public. From Anthropology to Business the topic is up to you; however, keep in mind the scope of your projects. They should be finite and have a beginning and end in sight. 
p
  All projects must offer at least one tangible reward. This can be as small as sending project backers a copy of the final report or paper, or as large as travel tickets to visit the lab or research site. It is important for both you and your supporters to know the results of your work. They should have the opportunity to see the results of your project.
p
  If you have any questions about what constitutes a suitable project, feel free to #{mail_to t('site.email.contact'), "ask", :target => :_blank}.
