|You submit a project telling us how much you need and when you need it by. You promote your project on social media, email or however you like. People donate any amount starting with $5USD. If you have reached or exceeded your target funding goal by your deadline, you keep the money. If not, everybody gets their money back. 
#show_tips
  a href='#' See more about on how Researchable works
