|You submit a project telling us how much you need to complete it and the deadline for you to reach your goal. Once your project is approved by us, you can promote your project on social media, email and other networks. People can donate any amount starting with $5USD. You also have the option of providing rewards to give to your founders. If you have reached or exceeded your target funding goal, you keep the money. If not, everybody receives the money back. 
#show_tips
  a href='#' See more about on how Researchable works
