h2 How does collaborative scholarly funding work?
h3 Who can fund their projects on Researchable?
p While there are no explicit exclusions as to who may submit projects, in general, it is expected that posters be members of the scholarly community or experts pursuing research in their fields. Researchable's goal is to provide a network for scholars to connect funding and research without reliance on formal organizational support. Accordingly, submitters could be: (1) University Faculty, (2) University Students Pursuing a Ph.D. or a terminal degree in their field or (3) Researchers pursuing research within Industry.
	
h3 Why should I submit a project to researchable?
p Good question. You can find our extensive post about this here. Suffice to say, collaboratively funding your research can lead to more future opportunities, faster research turn-around-times and more public awareness for your research than any other standard approach out there.

h3 Who can support projects?
p Anyone with a PayPal account can support projects. Researchable has a number of social tools to spread the word about your projects and those that you find interesting. Researchable gives you the opportunity to connect your research with individuals in the greater public. 

h3 How long does it take for a project to be approved?
p Projects are usually approved within 24 hours; however, this could take longer if the submitter does not include sufficient information about the project or about the person or team submitting it.

h3 Funding Structures?
p All-or-Nothing -- Each project must reach or exceed it target goal before the end date or no money changes hands. This is done for a number of reasons: (1) It minimizes the likelihood that the project will fail due to financial constraints and (2) It encourages posters to spread the word about their work to others

h3 Can I raise more money than my goal?
p Absolutely! There is no maximum limit. Supporters can contribute to your project until the last second of the deadline.

h3 How will I receive my money?
p All donations are processed through Paypal. After the deadline expires, funds will be drawn from each of your backers' accounts and automatically deposited into the Paypal account that you supply. 
	
h3 Intellectual Property
p Posters keep all intellectual property rights to their work.

