h2 How does collaborative research funding work?
h3 Who can fund their projects on Researchable?
p Anyone with an academic email can fund a project on Researchable. Our goal is to provide a network for members to connect funding and research without reliance on formal organizational support. 
	
h3 Why should I submit a project to researchable?
p Good question. You can find our extensive post about this #{link_to "here", "#{t('site.blog')}blog/2012/09/20/researchable-academic-research-funding/", :target => :_blank}. Suffice to say, collaborative funding your research can lead to more future opportunities, faster research turn-around-times and more public awareness for your research than any other approach out there.

h3 Who can support projects?
p Anyone with a credit or debit card.

h3 Funding Structures?
p All-or-Nothing -- Each project must reach or exceed it target goal before the end date or no money changes hands. This is done for a number of reasons: (1) It minimizes the likelihood that the project will fail due to financial constraints and (2) It encourages creators to spread the word about their work to others.

h3 Can I raise more money than my goal?
p Absolutely! There is no maximum limit. Supporters can contribute to your project until the last second of the deadline.

h3 How will I receive my money?
p All donations are processed through Paypal. After the deadline expires, funds will be forwarded to the Paypal account that you supply. 
	
h3 Intellectual Property
p Posters keep all intellectual property rights to their work.

