strong Are you sure you want your contribution to be anonymous? 
| Leaving your contribution public gives you a better reputation and points on our ranking of supporters.
br
br
| Besides that, the amount you contributed will never be disclosed to anyone but the project owner (who will always know who you are), even if your contribution is public.
