- backer = @notification.backer
|Hello, <strong>#{backer.user.display_name}</strong> !
br
br
|You printed a ticket to contribute to <strong>#{backer.project.name}</strong>.
br
|If your name does not appear on the page and you already paid for your contribution, don't fret. Within 2 days, you'll see your name on the site. This is the time it takes for the bank to get back to us. 
br
|If you forgot to pay the ticket and want to support the project again, you can repeat the process.
br
|Once the support is authorized by MoIP, we'll send you another email confirming the transaction.
br
br
|Thanks Again,
br
|The Researchable Team
