-backer = @notification.backer
|Hello, <strong>#{backer.user.display_name}</strong>!
br
br
|Your support for #{backer.project.name} is currently being <strong>reviewed</strong> on <strong>#{backer.payment_method}</strong>.
br
br
|This is a case of them security to prevent fraud and for some payments, they end up checking by contacting the person, so it has not been approved yet.
br
br
|The #{backer.payment_method}, in some cases, may try to contact you by phone or email to confirm your support.
br
br
|If your support was more than $1,000, they may require additional documents to confirm the transaction, but will contact you to talk about it.
br
br
|Once the support is confirmed, we'll send another email to you.
br
br
|Thanks Again,
br
|The Researchable Team
