- project = @notification.project
|Olá, #{project.user.display_name},
br
br
|Unfortunately, your project did not reach its target funding level that you set.
br
br
|All your supporters received an email with instructions on how to use the credits that were generated because the project didn't reach 100% of the target.
br
br
|Apesar de uma ou outra etapa desse processo não ser a das mais emocionantes do mundo, é importante ressaltar que o Catarse não quer ficar com o dinheiro de quem quer o reembolso e prezamos muito por devolver os recursos para os apoiadores que acreditaram no seu projeto.
br
br
|On last thing, we know that our service is not all of the world's most perfect, but we strive daily to improve it. One of the best ways to do this is with the help and feedback of those who had experience with the platform, so it would be fabulous if you answer these two questions below to email us at # {mail_to 'contact@researchable.info'}:
br
br
|1. What are the two worst problems you faced in this process? (It may be something directly related Catharsis or perhaps in relation to difficulties in obtaining or communicating the project while he was campaigning, among others).
br
br
|2. Is there any feature that you think is missing on researchable?
br
br
|Thanks again, 
br
br
|The Researchable Team
