- project = @notification.project
|Hello, #{project.user.name},
br
|First of all, congratulations on your super successful project!
br
br
|This message is the first step in getting all of you money you raised to you. It's all exaplained here in 2 steps:
br
br
|1 - Send an email to contact@researchable.info requesting a release of the funds you raised.
br
br
|2 - We'll send you a spreadsheet with details of supporters (name, reward, address, etc.) within 4 business days after the project closing date and The paypal payment processing fees our Researchable fee is included in this sheet.
br
br
|Any other questions, please send email to contact@researchable.info.
br
br
|Thanks Again,
br
br
|The Researchable Team
